$leftWeb: 25vw;
$leftMob: 80vw;
$rightWeb: 75vw;
$rightMob: 100vw;

$background: #696868;

$g1: #383838;
$g2: #282828;
$g3: #4a4a4a;
$g4: #3a3a3a;
$g5: #cecece;
$g6: #c5cbc7;
$g7: #878d8b;
$g8: #4c5053;

$primaryColor: white;